$normal-font-color:rgb(122,122,122);
$normal-active-font-color:rgb(68,68,68);
$active-blue-color:rgb(72,175,240);

.data-nav{
  font-size: 14px;
  background-color: #4ea3d4;
  color: #fff;
  .head{
    .left-menu{
      width: 50px;
      text-align: center;
      float:left;
      .menu-button{
        height: 50px;
        width: 50px;
      }
    }
    .title{
      font-size: 18px;
      font-weight: bold;
      width: 200px;
      display: inline-block;
    }
    .user-bar{
      position: absolute;
      right: 0;
    }
  }
}
.data-source{
  position: absolute;
  overflow-y: hidden;
  .left{
    height: 100%;
    .left-menu{
      height: 100%;
      width: 100%;
      -webkit-transition:all 0.5s; /* Safari */
    }
    .disabled{
      .ant-menu-item-selected{
        visibility: hidden;
      }
    }
    .scroll-bar{
      width: 10px;
      height: 50px;
      position: absolute;
      background-color: #061529;
      border-radius: 0 10px 10px 0;
      cursor: pointer;
      z-index: 999;
      -webkit-transition:all 0.5s; /* Safari */
      .scroll-icon{
        margin-top: 17px;
        margin-left: -4px;
      }
    }
    .bar-hover:hover{
      background-color: #123667;
    }
  }
  .main-board{
    height: 40px;
    position: absolute;
    top: 0;
    -webkit-transition:all 0.5s; /* Safari */
    .location-line{
      width:100%;
      height: 40px;
      line-height: 38px;
      background-color: #fff;
      border-bottom: 1px solid #efecf1;
      font-size: 12px;
      cursor: pointer;
      .location-icon{
        position: relative;
        margin-bottom: 3px;
      }
    }
    .back-board{
      width: 100%;
      background-color: #F8F9FA;
      padding: 5px;
      .module{
        width: 100%;
        height: 100%;
        .sub-tree{
          width: 190px;
          height: 100%;
          border: 1px solid #efecf1;
          background-color: #fff;
          padding:10px 5px;
          .title{
            line-height: 22px;
            height: 30px;
            font-weight: bold;
            color: #00b5ff;
            border-bottom: 1px dashed #b1becc;
          }
        }
        .right-board{
          top: 40px;
          position: absolute;
          width: calc(100% - 195px);
          margin-left: 190px;
          padding: 5px;
          .back-white{
            width: 100%;
            height: 100%;
            border: 1px solid #efecf1;
            background-color: #fff;
            padding: 5px;
            .action-bar{
              height: 30px;
              width: 100%;
              .input-bar{
                width: 225px;
                display: inline-block;
              }
              .button-bar{
                float: right;
              }
            }
          }
          .ant-table-small > .ant-table-content > .ant-table-body{
            margin: 0;
          }
          .ant-table-thead > tr > th{
            background-color: #EEF1F5;
          }
          .table{
            height: calc(100% - 50px);
          }
          .page{
            float: right;
          }
        }
      }
    }
  }
}

.ant-modal-content{
  .module{
    width: 100%;
    height: 100%;
    .title-source{
      color: #00b5ff;
    }
    .sources{
      height: 400px;
      padding: 10px;
      border: 1px solid #b1becc;
    }
    .sub-tree{
      width: 190px;
      height: 100%;
      border: 1px solid #efecf1;
      background-color: #fff;
      padding:10px 5px;
      .title{
        line-height: 24px;
        height: 30px;
        font-weight: bold;
        color: #00b5ff;
        border-bottom: 1px dashed #b1becc;
      }
    }
    .right-board{
      top: 40px;
      position: absolute;
      width: calc(100% - 195px);
      margin-left: 190px;
      padding: 5px;
      .back-white{
        width: 100%;
        height: 100%;
        border: 1px solid #efecf1;
        background-color: #fff;
        padding: 5px;
        .action-bar{
          height: 30px;
          width: 100%;
          .input-bar{
            width: 225px;
            display: inline-block;
          }
          .button-bar{
            float: right;
          }
        }
      }
      .ant-table-small > .ant-table-content > .ant-table-body{
        margin: 0;
      }
      .ant-table-thead > tr > th{
        background-color: #EEF1F5;
      }
      .table{
        height: calc(100% - 50px);
      }
      .page{
        float: right;
      }
    }
  }
}
.small-modal{
  font-size: 12px;
  .ant-modal-close-x{
    width: 39px;
    height: 39px;
    line-height: 39px;
  }
  .ant-modal-header{
    padding: 8px 24px;
    background-color: #afd3e1;
  }
  .ant-form label{
    font-size: 12px;
    color: #697c7e;
  }
  .basis{
    width: 100%;
    height: 180px;
    border: 1px solid #b1becc;
    padding: 5px;
    margin:5px 0;
    overflow-y: auto;
    overflow-x: hidden;
    .label-title{
      margin-top: 10px;
      padding-left: 40px;
    }
    .object-table{
      width: calc(100% - 280px);
      height: 100%;
      display: inline-block;
      padding-right: 5px;
    }
    .object-source{
      width: 280px;
      height: 100%;
      float: right;
      border: 1px solid #b1becc;
      .source-title{
        height: 24px;
        line-height: 24px;
        background-color: #e5e9ea;
        font-weight: bold;
        color: #000;
        padding-left: 10px;
      }
      .source-form{
        height: calc(100% - 24px);
        overflow-y: auto;
      }
    }
    .form-tags{
      width: 400px;
      line-height: 22px;
      height: 22px;
      border: 1px solid #d9d9d9;
      margin-top: 9px;
      .bp3-icon{
        margin-left: 370px;
        cursor: pointer;
        position: absolute;
        margin-top: 2px;
      }
    }
  }
  .input-bar-action{
    width: 300px;
    position: absolute;
    right: 10px;
    margin-top: 6px;
  }
  .christmas.ant-btn-primary:before{
    display: contents;
  }
  .check-source{
    height: 20px;
    position: absolute;
    width: 140px;
    background-color:#d7e1e6;
    -webkit-transition:all 0.5s; /* Safari */
  }
  .source-type{
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
    color: black;
    padding-left: 15px;
    position: absolute;
    width: 140px;
  }
  .source-type:hover{
    background-color:#d7e1e6;
  }
  .ant-table-small > .ant-table-content > .ant-table-body{
    margin: 0;
  }
  .ant-table-thead > tr > th{
    background-color: #EEF1F5 !important;
  }
  .table{
    height: calc(100% - 27px);
  }
  .page{
    float: right;
  }
}
