$normal-font-color:rgb(122,122,122);
$normal-active-font-color:rgb(68,68,68);
$active-blue-color:rgb(72,175,240);

.data-nav{
  font-size: 14px;
  background-color: #4ea3d4;
  color: #fff;
  .head{
    .left-menu{
      width: 50px;
      text-align: center;
      float:left;
      .menu-button{
        height: 50px;
        width: 50px;
      }
    }
    .title{
      font-size: 18px;
      font-weight: bold;
      width: 200px;
      display: inline-block;
    }
    .user-bar{
      position: absolute;
      right: 0;
    }
  }
}
.data-source{
  position: absolute;
  overflow-y: hidden;
  .left{
    height: 100%;
    .left-menu{
      height: 100%;
      width: 100%;
      -webkit-transition:all 0.5s; /* Safari */
    }
    .disabled{
      .ant-menu-item-selected{
        visibility: hidden;
      }
    }
    .scroll-bar{
      width: 10px;
      height: 50px;
      position: absolute;
      background-color: #061529;
      border-radius: 0 10px 10px 0;
      cursor: pointer;
      z-index: 999;
      -webkit-transition:all 0.5s; /* Safari */
      .scroll-icon{
        margin-top: 17px;
        margin-left: -4px;
      }
    }
    .bar-hover:hover{
      background-color: #123667;
    }
  }
  .main-board{
    height: 40px;
    position: absolute;
    top: 0;
    -webkit-transition:all 0.5s; /* Safari */
    .location-line{
      width:100%;
      height: 40px;
      line-height: 38px;
      background-color: #fff;
      border-bottom: 1px solid #efecf1;
      font-size: 12px;
      cursor: pointer;
      .location-icon{
        position: relative;
        margin-bottom: 3px;
      }
    }
    .back-board{
      width: 100%;
      background-color: #F8F9FA;
      padding: 5px;
    }
  }
}

.module{
  width: 100%;
  height: 100%;
  .sub-tree{
    width: 190px;
    height: 100%;
    border: 1px solid #efecf1;
    background-color: #fff;
    padding:10px 5px;
    .title{
      line-height: 22px;
      height: 30px;
      font-weight: bold;
      color: #00b5ff;
      border-bottom: 1px dashed #b1becc;
    }
  }
  .right-board{
    top: 40px;
    position: absolute;
    width: calc(100% - 195px);
    margin-left: 190px;
    padding: 5px;
    .back-white{
      width: 100%;
      height: 100%;
      border: 1px solid #efecf1;
      background-color: #fff;
      padding: 5px;
      .action-bar{
        height: 30px;
        width: 100%;
        .input-bar{
          width: 225px;
          display: inline-block;
        }
        .button-bar{
          float: right;
        }
      }
    }
    .ant-table-small > .ant-table-content > .ant-table-body{
      margin: 0;
    }
    .ant-table-thead > tr > th{
      background-color: #EEF1F5;
    }
    .table{
      height: calc(100% - 50px);
    }
    .page{
      float: right;
    }
  }
}


